:root {
    --soft-white: #F5F5F5;
    --spice-orange: #7E57C2;
    --fire-red: #FF4500;
    --dark-gray: #333333;
    --medium-gray: #B0B0B0;
    --light-gray: #E0E0E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', sans-serif;
    background: var(--soft-white);
    color: var(--dark-gray);
    padding: 0px;
    overflow-x: hidden;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    background: linear-gradient(45deg, var(--spice-orange), var(--fire-red));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(0,0,0,0.1), 0 0 20px rgba(0,0,0,0.1);
}

p {
    margin-bottom: 20px;
    color: var(--medium-gray);
    font-size: 1.2rem;
}

a {
    display: inline-block;
    width: 100%;
    padding: 15px;
    background: linear-gradient(45deg, var(--spice-orange), var(--fire-red));
    color: var(--soft-white);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden;
}

a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transition: left 0.5s;
}

a:hover::before {
    left: 100%;
}

a:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(127, 87, 194, 0.4);
}